[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=http://18.234.182.54
Environment=CATALOGUE_HOST=http://3.92.33.108
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
systemctl daemon-reload
systemctl enable cart
systemctl start cart
